.sitemap {
    font-family: "Roboto Condensed";
    padding: 60px 0 100px;
}

.sitemap h1 {
    padding: 15px;
    font-size: 40px;
    text-transform: uppercase;
}

.sitemap li {
    padding: 10px 0 0;
}

.sitemap li ul {
    padding: 0 15px 0;
}

.sitemap li a {
    color: #666;
}

.sitemap li a:hover {
    color: #1296a2;
}